{% extends 'crimdb/base.html' %}

{% load static %}

{% block metaTags %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
<div class="topnav">
    <a class="active" href="{% url 'home' %}">Home</a>
    <a href="{% url 'home' %}">Add Felon</a>
    <a href="{% url 'home' %}">Add a Misdomeanor</a>
    <a href="{% url 'home' %}">Add a Crime to Prior Felon</a>
    <a href="{% url 'home' %}">Add a Crime to a Prior Misdomeanor</a>
    <a href="{% url 'home' %}">View All Criminals</a>
    <a href="{% url 'home' %}">Search for a Criminal by Name</a>
</div>
<div class="content">
    <table id="first">
        <tr>
            <td>
                <a href=""><button>Add a Felon</button></a>
            </td>
            <td>
                <a href=""><button>Add a Misdomeanor</button></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href=""><button>Add a Crime to Prior Felon</button></a>
            </td>
            <td>
                <a href=""><button>Add a Felony to a Prior Misdomeanor</button></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href=""><button>View All Criminals</button></a>
            </td>
            <td>
                <a href="{% url 'search' %}"><button>Search for a Criminal by Name</button></a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}